@using Newtonsoft.Json
@model LapProject.Models.Chart.ChartVM

@{
    ViewBag.Title = "ChartTop5";
}

<h2>Statistik1 - Meistverkaufte Produkte</h2>

@for (int i = 0; i < Model.Anzahl.Length; i++)
{
    <p>@Model.Namen[i]: @Model.Anzahl[i]</p>
}

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(JsonConvert.SerializeObject(Model.Namen)),
            datasets: [
                {
                    label: 'Verkaufte Stück',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.Anzahl)),
                    borderWidth: 5
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
